<h2>Categories</h2>
<p>Number of Categories: {{categories | length }}</p>
<a href="{{url_for('category_add')}}" class="btn btn-success">
    <i class="fas fa-plus    "></i>
    Add</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{url_for('product_list', category_id=category.id)}}" class="btn btn-primary">Open</a>
                    <a href="{{url_for('category_edit', category_id=category.id)}}" class="btn btn-primary">
                        <i class="fas fa-pencil    "></i>
                        Edit</a>
                    <a href="{{url_for('category_delete', category_id=category.id)}}" class="btn btn-danger">
                        <i class="fas fa-trash    "></i>
                        Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>