{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
<h2>Products</h2>
<p>Number of Products in Category {{category.name}}: {{category.products | length }}</p>
<a href="{{url_for('product_add', category_id=category.id)}}" class="btn btn-success">
    <i class="fas fa-plus    "></i>
    Add</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for product in category.products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <a href="{{url_for('product_edit', product_id=product.id)}}" class="btn btn-primary">
                        <i class="fas fa-pencil    "></i>
                        Edit</a>
                    <a href="{{url_for('product_delete', product_id=product.id)}}" class="btn btn-danger">
                        <i class="fas fa-trash    "></i>
                        Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}